<%= form_for [@train, waggon] do |f| %>
  <%= render 'common/errors', res: waggon %>

  <div class="field">
    <%= f.label :train, "Установить на поезд:" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
    
    <%= f.label :type, "Выбор типа вагона:" %>
    <%= f.select :type, [["Купе", "CoupeWaggon"], ["Плацкарт", "EconomyWaggon"], ["СВ", "SleepingWaggon"], ["Только сидячие места", "SeatsWaggon"]]  %>

    <%= f.label :top_places, "Верхние места" %>
    <%= f.number_field :top_places %>

    <%= f.label :bottom_places, "Нижние места" %>
    <%= f.number_field :bottom_places %>
    
    <%= f.label :top_side_places, "Верхние боковые места" %>
    <%= f.number_field :top_side_places %>

    <%= f.label :bottom_side_places, "Нижние боковые места" %>
    <%= f.number_field :bottom_side_places %>
    
    <%= f.label :seats_places, "Сидячие" %>
    <%= f.number_field :seats_places %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
