<p id="notice"><%= notice %></p>

<p>
  <% if @waggon.train.present? %>
    Прицеплен к поезду: <%= @waggon.train.number %>
  <% else %>
    К поезду не прицеплен
  <% end %>
</p>

<% if @waggon.number.present?%>
<p>
  Порядковый номер:<br/>
  <%= @waggon.number %>
</p>
<% end %>

<p>
  <%= render @waggon.type.underscore %>

</p>


<%= link_to 'Edit', edit_waggon_path(@waggon) %> |
<%= link_to 'Back', train_path(@waggon.train) %>
