<p id="notice"><%= notice %></p>

<p>
  <% if @waggon.train.present?%>
    Прицеплен к поезду: <%= @waggon.train.number  %>
  <% else %>
    К поезду не прицеплен
  <% end %>
</p>

<% if @waggon.number.present?%>
<p>
  Порядковый номер:<br/>
  <%= @waggon.number %>
</p>
<% end %>

<p>
  <% if  @waggon.type == "CoupeWaggon" %>
    Тип: Купе<br/>
    Места:<br/>
    Верхние: <%= @waggon.top_places %><br/>
    Нижние: <%= @waggon.bottom_places %>
  <% elsif @waggon.type == "EconomyWaggon" %>
    Тип: Плацкарт<br/>
    Места:<br/>
    Верхние: <%= @waggon.top_places %><br/>
    Нижние: <%= @waggon.bottom_places %><br/>
    Верхние боковые: <%= @waggon.top_side_places %><br/>
    Нижние боковые: <%= @waggon.bottom_side_places %>
  <% elsif @waggon.type == "SleepingWaggon" %>
    Тип: СВ<br/>
    Места:<br/>
    Нижние: <%= @waggon.bottom_places %>
  <% elsif @waggon.type == "SeatsWaggon" %>
    Тип: Сиденья<br/>
    Места:<br/>
    Сидячие: <%= @waggon.seats_places %><br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_waggon_path(@waggon) %> |
<%= link_to 'Back', waggons_path %>
