<h1>Поиск билета</h1>

<%= form_for search_path, method: :post do %>
  
  
  <div class="field">
    <%= label_tag :begin_station, "Начальная станция:" %>
    <%= collection_select :search, :begin_station_id, RailwayStation.all, :id, :title %>
  </div>
  
  <div class="field">
    <%= label_tag :end_station, "Конечная станция:" %>
    <%= collection_select :search, :end_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= submit_tag "Поиск билетов" %>
  </div>
<% end %>

<% if @trains %>
  <h2>Результаты поиска</h2>

  Начальная станция: <%= @begin_station.title %><br/>
  Конечная станция: <%= @end_station.title %><br/>
  Найдено результатов: <%= @trains.size %>
  <% @trains.each do |train| %>
    <p>
      Маршрут: <%= train.route.title %><br/>
      Начальная станция: <%= @begin_station.title %>, время отправления: <%= @begin_station.time_from_in_route(train.route) %><br/>
      Конечная станция: <%= @end_station.title %>, время прибытия: <%= @end_station.time_to_in_route(train.route) %><br/>
      Номер поезда: <%= train.number %><br/><br/>
      <%= link_to "Купить билет", new_ticket_path(train_id: train.id, begin_station_id: @begin_station.id, end_station_id: @end_station.id) %>     
    </p>
    <hr/>
  <% end %>
<% else %>
  
<% end %>
