<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <% if @route.trains.present? %>
    На маршрут назначены следующие поезда:
    <ul><% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %></ul>
  <% else %>
    Поезда на этот маршрут не назначены
  <% end %>
</p>

<p>
  <!-- по порядковому номеру -->
  <% if @route.railway_stations.present? %>
    Список станций маршрута:
    <ul><% @route.railway_stations_routes.order(:station_number_in_route).each do |station_route| %>
      <li><%= station_route.station_number_in_route %>. <%= station_route.railway_station.title %></li>
    <% end %></ul>
    
    <table>
      <thead>
      <tr>
        <td width="100px">Название</td>
        <td>Позиция</td>
        <td>Время прибытия</td>
        <td>Время отправления</td>
      </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered_by_number_in_route.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            
              <%= form_tag update_number_in_route_railway_station_path(station), method: :patch do %>
                <td><%= number_field_tag :number_in_route, station.number_in_route(@route) %></td>
                <td><%= station.time_to_in_route(@route) %></td>
                <td><%= station.time_from_in_route(@route) %></td>
                <td><%= hidden_field_tag :route_id, @route.id %></td>
                <td><%= submit_tag "Изменить" %></td>
              <% end %>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Список станций этого маршрута пока ещё не задан
  <% end %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
