<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.title %>
</p>

<p>
  <% if @route.trains.present? %>
    На маршрут назначены следующие поезда:
    <ul><% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %></ul>
  <% else %>
    Поезда на этот маршрут не назначены
  <% end %>
</p>

<p>
  <!-- по порядковому номеру -->
  <% if @route.railway_stations.present? %>
    Список станций маршрута:
    <ul><% @route.railway_stations_routes.order(:station_number_in_route).each do |station_route| %>
      <li><%= station_route.station_number_in_route %>. <%= station_route.railway_station.title %></li>
    <% end %></ul>
  <% else %>
    Список станций этого маршрута пока ещё не задан
  <% end %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
