<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<%= link_to 'Поезда', trains_path %> | <%= link_to 'Маршруты', routes_path %> | <%= link_to 'Станции', railway_stations_path %>  
	<hr>  
    <%= yield %>
    <hr>
    (с) 2017 Дементьев Антон. Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com' %>.
  </body>
</html>
